@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c0d13;
  color: #ffffff;
}

.bg-dark {
  background-color: #101219;
}

.bg-darker {
  background-color: #0c0d13;
}

.text-gray-light {
  color: #9ca3af;
}

.border-gray-dark {
  border-color: #374151;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e2130;
}

::-webkit-scrollbar-thumb {
  background: #3a3f50;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a5169;
}